<html>
  <head><title>{{ helloworld }}</title></head>
  <body style="background-image: linear-gradient(red,orange,yellow,green,blue,indigo,violet);">
  <center><img src="bolt.jpg"></img></center>
  <marquee><h1>Who is your Poppa!</h1></marquee>
  </body>
</html>